.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 90%;
  background: rgba(135, 206, 250, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(135, 206, 250, 0.42);
  position: absolute;
  top: 5%;
  z-index: 1;
}

.task-creation-form {
  padding: 1em 0;
  flex: 1 1 10%; /* Occupa il 10% dell'altezza del contenitore */
  max-width: 90%;
  text-align: center;
}

.task-list,
.deleted-task {
  width: 90%;
  flex: 1 1 45%; /* Occupa il 45% dell'altezza del contenitore */
}

.list-group {
  height: 75%;
  overflow-y: scroll;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgba(0, 53, 69, 0.1);
}

input {
  font-size: 1em;
  padding: 5.1px 12px;
  vertical-align: middle;
  outline: none;
  margin: 0;
  border-radius: 5px;
  border: 1px solid transparent;
}

.btn-dark {
  font-size: 1em;
  border-radius: 5px;
}

input[type="radio"] {
  accent-color: black;
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
  transform: scale(1.3);
  margin: 0 1em 0 0.5em;
  cursor: pointer;
}

.list-group-item {
  margin: 0;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}

.task-wrapper,
.btn-wrapper {
  display: flex;
  align-items: center;
}

.task-wrapper {
  width: 55%;
  font-weight: 450;
  word-wrap: break-word; /* Permette di andare a capo tra le parole e solo spezzare quelle lunghissime */
  overflow-wrap: break-word; /* Supporto alternativo per spezzare le parole lunghe */
  word-break: break-word; /* Spezza le parole solo se necessario */
  white-space: normal;
  overflow-x: hidden;
}

.btn-wrapper {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

.edit-btn,
.date-btn,
.date {
  padding: 0;
  margin: 0 0.5em;
  color: black;
  background-color: transparent;
  border: none;
}


@media (max-width: 600px) {
    .todo-form {
      width: 85%;
    }
  
    .list-group-item {
      flex-direction: column;
      align-items: start;
      font-size: 0.8em;
    }
  
    .task-wrapper {
      width: 100%;
      justify-content: start;
    }
    .btn-wrapper {
      width: 100%;
      justify-content: end;
    }
  }
