@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: lightskyblue;
  font-family: "Roboto", sans-serif;
}

.todo-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 20vw;
  color: white;
  position: fixed;
  top: 30%;
}

/*QUI ASSEGNARE CLASSE PER TUTTI I TITOLI*/
h2,
.modal-title {
  text-align: center;
  margin: 0;
  font-size: 1.3em;
  text-shadow: grey;
}


