@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: lightskyblue;
  font-family: "Roboto", sans-serif;
}

.todo-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  height: 100%;
}

h1 {
  font-size: 15em;
  color: white;
  position: fixed;
  top: 30%;
}

h2,
.modal-title{
  text-align: center;
  margin: 0;
  font-size: 1.3em;
  text-shadow: grey;
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;

  background: rgba(135, 206, 250, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(135, 206, 250, 0.42);
  position: absolute;
  top: 5em;
  z-index: 1;
}

.task-creation-form {
  padding: 1em 0;
}

.task-list,
.deleted-task {
  width: 90%;
}

.list-group {
  height: 230px;
  overflow-y: scroll;
  margin: 1em auto;
  border-radius: 5px;
}

input {
  font-size: 1em;
  padding: 5.1px 12px;
  vertical-align: middle;
  outline: none;
  margin: 0;
  border-radius: 5px;
  border: 1px solid transparent;
}

input[type="radio"] {
  accent-color: black;
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
  transform: scale(1.3);  
  margin-right: 1em;
  cursor: pointer;
}

.list-group-item {
  margin: 0.3em 0;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}


.task-wrapper,
.btn-wrapper {
  display: flex;
  align-items: center;
}
.task-wrapper {
  width: 55%;

}
.btn-wrapper {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

.btn-dark {
  font-size: 1em;
  border-radius: 5px;
}

.edit-btn, 
.date-btn,
.date{
  padding: 0;
  margin: 0 0.5em;
  color: black;
  background-color: transparent;
  border: none;
}


.modal-content{
  background: rgba(135, 206, 250, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
}